<form ng-submit="addCar(newCar)">
    <input type="text" ng-model="newCar.make" placeholder="Make..">
    <input type="text" ng-model="newCar.model" placeholder="Model..">
    <input type="text" ng-model="newCar.year" placeholder="Year..">
    <input type="text" ng-model="newCar.mileage" placeholder="Mileage..">
    <input type="text" ng-model="newCar.price" placeholder="Price..">
    <button type="submit">Submit</button>
</form>


<ul>
    <li ui-sref="car({carId:car.$id})" ng-repeat="car in cars">
        <h3><{{car.model}} {{car.year}}</h3>
        Make: {{car.make}}
        Model: {{car.model}}
        Year: {{car.year}}
        Mileage: {{car.mileage}}
        Price: {{car.price}}
    </li>
</ul>